{% extends "::base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ asset('/assets/styles/app.css') }}"/>
{% endblock %}

{% block javascripts %}
  {{ parent() }}
  <script src="{{ asset('/assets/scripts/app.js') }}"></script>
{% endblock %}

{% block body %}
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">{{ sitename }}</a>
      </div>
    </div>
  </nav>

  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h1 class="page-header">{{ sitename }}</h1>
      </div>
    </div>

    {% block page %}{% endblock %}

    <hr>
    <footer>
      <div class="row">
        <div class="col-lg-12"><p>Copyright &copy; {{ date()|date('Y') }}</p></div>
      </div>
    </footer>
  </div>
{% endblock %}
